@model DataTable
@using System.Data
@using staticCRUD.Helper

<table class="table table-hover">
    <thead>
        <h3 class="text-dark fw-bold">City List</h3>
         <a class="btn btn-primary  float-end" asp-controller="City" asp-action="AddCity">Add City</a>
        <tr>
            @*<th scope="col">CityID</th>*@
            <th scope="col">City Name</th>
            <th scope="col">State Name</th>
            <th scope="col">Country Name</th>
            <th scope="col">City Code</th>  
            <th scope="col">CreatedDate</th>
            <th class="text-center" scope="col" colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dataRow in Model.Rows)
        {
            <tr>
                @* <td>@dataRow["CityID"]</td> *@
                <td>@dataRow["CityName"]</td>
                <td>@dataRow["StateName"]</td>
                <td>@dataRow["CountryName"]</td>
                <td>@dataRow["CityCode"]</td>
                <td>@dataRow["CreatedDate"]</td>
                <td><a asp-controller="City" asp-action="AddCity" asp-route-CityID="@UrlEncryptor.Encrypt(dataRow["CityID"].ToString())" class="btn btn-outline-warning btn-xs  bi bi-pencil"></a></td>
                <td>
                    <form method="post" asp-controller="City" asp-action="DeleteCity">
                        <input type="hidden" name="CityID" value="CityID" asp-route-CityID="@UrlEncryptor.Encrypt(dataRow["CityID"].ToString())" />
                        <button onclick="return confirm('Sure Delete??')" type="submit" class="btn btn-outline-danger btn-xs">
                            <i class="bi bi-x"></i>
                        </button>
                    </form>
                </td>                
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}